DLLExport1/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GetDataLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GetDataLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" type="xs:int" />
      <xs:element minOccurs="0" name="MetaPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RobotName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeFrame" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="srvHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="srvPort" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInfo" nillable="true" type="tns:ClientInfo" />
</xs:schema>